<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Basic Jira tests">

    <listeners>
        <listener class-name="net.atlassian.utils.AllureListener" />
    </listeners>

    <test name="JiraTestClass" >
        <classes>
            <class name="JiraTest"/>
        </classes>
    </test>
</suite>